[submodule "vendor/libft"]
	path = vendor/libft
	url = https://github.com/codingvivi/42_libft
[submodule "ext/tools/premake-ecc"]
	path = ext/tools/premake-ecc
	url = https://github.com/MattBystrin/premake-ecc.git
[submodule "ext/test/francinette"]
	path = ext/test/francinette
	url = https://github.com/Prashant-Bharaj/francinette
[submodule "ext/test/premake-ecc"]
	path = ext/test/premake-ecc
	url = https://github.com/MattBystrin/premake-ecc.git
