[submodule "ext/lib/libft"]
	path = ext/lib/libft
	url = https://github.com/codingvivi/42_libft
[submodule "ext/tool/premake-ecc"]
	path = ext/tool/premake-ecc
	url = https://github.com/MattBystrin/premake-ecc.git
[submodule "ext/test/francinette"]
	path = ext/test/francinette
	url = https://github.com/Prashant-Bharaj/francinette
